<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Pork Gaming</title>
    <link href="../css/main.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <p1>Satisfactory Manager</p1>

      <div class="options">
        <ul>
          <li>
            <div class="statusui" id="statusui"></div>
          </li>
          <li>
            <button class="button start" id="startServer">Start Server</button>
          </li>
          <li>
            <button class="button stop" id="stopServer">Stop Server</button>
          </li>

          <li>
            <button class="button log" id="viewLogs">View Logs</button>
          </li>
          <li>
            <button class="button update" id="updateServer">
              Update Server
            </button>
          </li>
          <li>
            <button class="button status" id="serverStatus">
              Check Status
            </button>
          </li>
        </ul>
      </div>
      <div class="outLog" id="outLogId"></div>
    </main>
    <script src="\scripts\main.js"></script>
  </body>
</html>
